/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

 @font-face {
  font-family: palanquinlight; /* deklarace fontu */
  src: url(../fonts/palanquin-light.ttf);
}

@font-face {
  font-family: palanquinthin; /* deklarace fontu */
  src: url(../fonts/palanquin-thin.ttf);
}

@font-face {
  font-family: palanquinmedium;
  src: url(../fonts/palanquin-medium.ttf);
}

@font-face {
  font-family: palanquinsemibold;
  src: url(../fonts/Palanquin-SemiBold.ttf);
}

@font-face {
  font-family: palanquinbold;
  src: url(../fonts/Palanquin-Bold.ttf);
}


 // Issue with homepage display being stretched out

.horizontal-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  #main-content, #sidebar {
      display: flex;
      flex-direction: column;
  }
}

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: rgba(195,44,46, 0.5);
}

// Body

body {
  color: #000;
  font-family: palanquinlight;
  font-size: 14px;
}

// Sidebar

#main-container #sidebar {
  background: url(../images/bgn.jpg) #f7f7f7;
}

// Headings

h1, .h1 {
  font-size: 25px;
}

h2, .h2 {
  font-size: 21px;
}

h3, .h3 {
  font-size: 19px;
}

h4, .h4 {
  font-size: 17px;
}

h5, .h5 {
  font-size: 15px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: 'palanquinbold';
}

h1 small, h1 .small, h2 small, h2 .small, 
h3 small, h3 .small, h4 small, h4 .small, 
h5 small, h5 .small, h6 small, h6 .small, 
.h1 small, .h1 .small, .h2 small, .h2 .small, 
.h3 small, .h3 .small, .h4 small, .h4 .small, 
.h5 small, .h5 .small, .h6 small, .h6 .small {
  color: #000;
}

// END OF: Headings

// Buttons

.btn {
  border-radius: 0px;
}

.btn-primary {
  color: #fff;
  background-color: #c32c2e;
  border-color: #c32c2e;
}

.btn-default {
  color: #fff;
  background-color: #c32c2e;
  border-color:#000;
}

.btn-default:hover, .btn-default:focus, 
.btn-default.focus, .btn-default:active, 
.btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #000;
  background-color: #fff;
  border-color: #c32c2e;
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary.focus, .btn-primary:active, 
.btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #fff;
  border-color: #c32c2e;
}

header .navbar-default .navbar-toggle:hover, 
header .navbar-default .navbar-toggle:focus, 
header .navbar-default .navbar-nav:hover, 
header .navbar-default .navbar-nav:focus {
  background-color: rgba(195,44,46, 0.5);
  color: #fff;
}

header .navbar-default .navbar-toggle > .open > a, 
header .navbar-default .navbar-toggle > .open > a:hover, 
header .navbar-default .navbar-toggle > .open > a:focus, 
header .navbar-default .navbar-nav > .open > a, 
header .navbar-default .navbar-nav > .open > a:hover, 
header .navbar-default .navbar-nav > .open > a:focus {
  background-color:rgba(195,44,46, 0.5);
  color: #fff;
}

header .navbar-default .navbar-toggle > li > a, 
header .navbar-default .navbar-nav > li > a {
  color: #fff;
}

header .navbar-default .navbar-toggle, 
header .navbar-default .navbar-nav {
  color: #fff;
  background-color: #c32c2e;
}

header .navbar-default .navbar-toggle > li > a:hover, 
header .navbar-default .navbar-toggle > li > a:focus, 
header .navbar-default .navbar-nav > li > a:hover, 
header .navbar-default .navbar-nav > li > a:focus {
  background-color:rgba(195,44,46, 0.5);
  color: #fff;
}

// END OF: Buttons

// Handling item-view (headings / lead)

.item-view-titles-row {
  background-color: #cc2c32 ;
  margin-right: 0px;
}

.item-title {
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

#aspect_artifactbrowser_ItemViewer_div_item-view {
  margin-top: -20px;
}

#aspect_artifactbrowser_ItemViewer_div_item-view > .item-summary-view-metadata > .item-view-titles-row > .item-view-title-column > .item-title {
  padding-left: 0px;
}

#aspect_artifactbrowser_ItemViewer_div_item-view .item-view-toggle-top {
  padding-top: 20px;
  padding-left: 8px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  background-color: #cc2c32;
}

#aspect_artifactbrowser_ItemViewer_div_item-view .item-title {
  background-color: #cc2c32;
  margin-top: 0px; /* 20px */
  margin-bottom: 0px; /* 10px */
  padding-left: 8px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#aspect_artifactbrowser_ItemViewer_div_item-view .item-view-toggle-top > a {
  color:white;
  font-weight: bold;
}

#aspect_artifactbrowser_ItemViewer_div_item-view .item-summary-view-metadata h2 {
  margin-bottom: 10px;
}

.item-view-translated-title-column >.item-title-translated {
  font-size: 14px;
  color: rgba(255,255,255,1.0);
  border-bottom: 0px;
}

.item-summary-view-metadata > .item-view-title-lead {
  margin-bottom: 0px;
}

// END OF: Handling item-view (headings / lead)

// Handling additional-item-info in item-view

.row.item-view-additional-info-row {
  margin-right: 0px;
  border-bottom: 3px solid #cc2c32;
  border-right: 3px solid #cc2c32;
}

.item-view-additional-info-column {
  padding-left: 15px; 
  padding-top: 5px;
  padding-bottom: 5px;
}

.item-view-additional-info-row > .item-view-additional-info-column > .label-group > .label-additional-info {
  color: #000;
  font-size: 100%;
  font-weight: normal;
  border-radius: 0px;
  font-family: palanquinmedium;
  padding-left: 0px;
}

.item-view-additional-info-column .dropdown-menu {
  margin-top: 10px;
}

#publication-versions-toggle {
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 0px;
}

// END OF: Handling additional-item-info in item-view


// <JR> - 2023-11-15: item-view Thumbnails
.img-thumbnail {
  border-radius: 0px;
}

.item-view-thumbnail-column {
  margin-top: 10px;
}

// Center item-view thumbnail in row
.thumbnail > .item-view-thumbnail {
  margin: 0 auto;
}

// END OF: item-view Thumbnails

// Handling item-view file section

.download-button-group {
  // Following properties have to be set on the btn-group to enable stretching height of the button without wrapped text,
  // othewise the button without wordwrap in the same group with the button WITH wrapped words will be smaller in height
  // then then it's neighbour
  display: flex;
  flex-wrap: wrap;
}

.button-file-icon {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border: 0px;
}

.filesection-file-icon {
  width: 100%;
  max-height: 1.5em;
}

.button-file-text {
  border: 3px solid #cc2c32;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  font-family: palanquinmedium;
  text-transform: uppercase;
  white-space: normal; // text wrapping when it's longer then the button width
}

.button-file-icon:hover, .button-file-icon:focus, .button-file-icon.focus, .button-file-icon:active, .button-file-icon.active,
.open > .button-file-icon.dropdown-toggle {
  color: #fff;
  background-color: #cc2c32;
  border: 0px;
}

.button-file-text:hover, .button-file-text:focus, .button-file-text.focus, .button-file-text:active, .button-file-text.active,
.open > .button-file-text.dropdown-toggle {
  background-color: #fff;
}

// END OF: Handling item-view file section

// Handling other publication identifier icons

.other-identifier-column {
  padding-top: 5px;
  padding-bottom: 5px;
}

.other-identifier-image {
  max-width: 100%;
  height: 2em;
}

// END OF: Handling other publication identifier icons

// Handling discovery artifact-info headings

.discovery-item-title-translated {
  color: rgba(47,79,79,1.0);
}

// END OF: Handling discovery artifact-info headings

.publication-records-modal, .publication-records-modal ul {
  list-style-type: none;
  padding-left: 0px;
}

.publication-records-import-btn {
  margin: 5px 0px 15px 0px;
}

.bold {
  font-weight: bold;
}

.imported {
  background-color: #E2E2E2;
}

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep {

  #aspect_submission_StepTransformer_field_search {
    width: 81%;
    display: inline;
  }

  #aspect_submission_StepTransformer_field_lookup {
    width:19%
  }

  .modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
  }

  #aspect_submission_StepTransformer_item_publication-title{
    margin-bottom:5px;
  }
}

// Skip link

.main-content-tabber, .main-content-tabber:hover {
	position: absolute;
	top: 0;
	left: 0;
	color: transparent;
}

.main-content-tabber:focus, .main-content-tabber:active {
  display: inline;
	color: #b72c32;
}

// Navigation

header .navbar-default {
  background-color: #fff;
  border-bottom: 3px solid #c32c2e;
}

// Navigation - tabs

.nav-tabs {
  border-bottom: 1px solid #c32c2e;
}

.nav-tabs > li > a {
  border-radius: 0px 0px 0px 0px;
  background-color: #c32c2e;
  color: #fff;
  border-color: #c32c2e;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #000;
  background-color: #fff;
  border: 1px solid #c32c2e;
  border-bottom-color: #c32c2e;
}

.nav-tabs > li > a:hover {
  border-color: rgba(195,44,46, 0.5) rgba(195,44,46, 0.5) #c32c2e;
  color: #fff;
}

.nav > li > a:focus {
  color: #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: rgba(195,44,46,0.5);
  color: #fff;
  border-color: rgba(195,44,46,0.5) rgba(195,44,46,0.5) #c32c2e;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #c32c2e;
}

.dropdown-menu {
  border: 1px solid rgba(195, 44, 46, 0.15);
  border-radius: 0px;
  box-shadow: 0 6px 12px rgba(195, 44, 46, 0.18);
  -webkit-box-shadow: 0 6px 12px rgba(195, 44, 46, 0.18);
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: rgba(195, 44, 46, 0.5);
}

.nav-tabs > li.dropdown.active > a {
  background-color: #c32c2e;
  color: #fff;
}

.nav-tabs >li.dropdown.active > a:hover {
  background-color: rgba(195,44,46,0.5);
  border-color: rgba(195,44,46,0.5) rgba(195,44,46,0.5) #c32c2e;
  cursor: pointer;
}

.nav-tabs > li.dropdown.active > a:focus {
  background-color: rgba(195,44,46,0.5);
  border-color: rgba(195,44,46,0.5) rgba(195,44,46,0.5) #c32c2e;
  color: #fff;
}

// Breadcrumbs

.trail-wrapper {
  background-color: #fff;
  border-bottom: 3px solid #c32c2e;
}

.breadcrumb {
  padding: 8px 0 8px 0px;
  font-family: 'palanquinbold';
}

// Links

a {
  color: #c32c2e;
  font-family: 'palanquinbold';
}


// Menus + its items

.dropdown-menu > li > a {
  color: #000;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color:rgba(195,44,46, 0.5);
  color: #fff;
}

// Pagination

.pagination {
  border-radius: 0px;
}

.pagination > li:first-child > a, 
.pagination > li:first-child > span {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.pagination > li:last-child > a, 
.pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.pagination > .active > a, 
.pagination > .active > a:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span, 
.pagination > .active > span:hover, 
.pagination > .active > span:focus {
  color: #000;
  background-color: #fff;
  border-color: #c32c2e;
}

.pagination > li > a:hover, .pagination > li > a:focus, 
.pagination > li > span:hover, 
.pagination > li > span:focus {
  color: #fff;
  background-color: rgba(195,44,46, 0.5);
  border-color: #c32c2e;
}

.pagination > li > a, 
.pagination > li > span {
  color: #fff;
  background-color: #c32c2e;
  border: 1px solid #000;
}

.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus {
  background-color: #fff;
  border-color: #000;
}

// Forms

.form-control {
  border: 1px solid #000;
  border-radius: 0px;
  color: #000;
}

.form-control:focus {
  border-color: #c32c2e;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(195, 44,46, 0.5);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(195, 44, 46, 0.5);
}

// List groups

.list-group-item {
  border: 1px solid #000;
}

.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #c32c2e;
  border-color: #c32c2e;
}

a.list-group-item:hover, a.list-group-item:focus {
  color: #fff;
  background-color: rgba(195,44,46, 0.5);
}

// Search filter labels

.label-primary {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.label-primary[href]:hover, .label-primary[href]:focus {
  background-color: rgba(195,44,46, 0.5);
  color: #fff;
}
// Tables

.table-hover > tbody > tr:hover {
  background-color: rgba(195,44,46, 0.5);
  color: #fff;
}

// Blockquote

blockquote {
  border-left: 5px solid rgba(195,44,46, 0.5);
}

// Cookie consent new
.termsfeed-com---palette-light.termsfeed-com---nb {
	background-color: #fff;
	color: #000;
  border: 3px solid rgba(204,44,50,1.0)
}

.termsfeed-com---reset {
	font-family: palanquinlight, Helvetica, Arial, sans-serif;
}

.termsfeed-com---palette-light .cc-nb-okagree {
	background-color: #fff;
	color: #000;
	border: 1px solid rgba(204,44,50,1.0);
}

.termsfeed-com---palette-light .cc-nb-okagree:hover, .termsfeed-com---palette-light .cc-nb-okagree:focus {
	background-color: rgba(204,44,50,1.0);
	color: #fff;
	border: 1px solid rgba(204,44,50,1.0);
}

.termsfeed-com---palette-light .cc-nb-reject {
	background-color: #fff;
	color: #000;
	border: 1px solid rgba(204,44,50,1.0);
}

.termsfeed-com---palette-light .cc-nb-reject:hover, .termsfeed-com---palette-light .cc-nb-reject:focus {
	background-color: rgba(204,44,50,1.0);
	color: #fff;
	border: 1px solid rgba(204,44,50,1.0);
}

.termsfeed-com---palette-light .cc-nb-changep {
	background-color: #fff;
	border: 1px solid rgba(204,44,50,1.0);
	color: #000;
}

.termsfeed-com---palette-light .cc-nb-changep:hover, .termsfeed-com---palette-light .cc-nb-changep:focus {
	background-color: rgba(204,44,50,1.0);
	color: #fff;
	border: 1px solid rgba(204,44,50,1.0);
}

.termsfeed-com---palette-light .cc-pc-head {
	color: #000;
  background: #fff;
  border-bottom: 1px solid rgba(204,44,50,1.0);
}

.termsfeed-com---palette-light .cc-pc-head-title-text {
	color: #000;
}

.termsfeed-com---palette-light .cc-pc-head-title-headline {
	color: #000;
}

.termsfeed-com---palette-light .cc-pc-head-close {
	color: #000;
}

.termsfeed-com---palette-light .cc-cp-body {
	background: #fff !important;
	color: #000;
}

.termsfeed-com---palette-light .cc-cp-foot {
  background: #fff !important;
  border-top-color: rgba(204,44,50,1.0);
}

.termsfeed-com---palette-light .cc-cp-body-tabs {
	color: #000;
	background: #fff;
  border-right: 1px solid rgba(204,44,50,1.0);
}



.termsfeed-com---pc-dialog .cc-cp-body-tabs {
	font-family: palanquinlight, Helvetica, Arial, sans-serif;
}

.termsfeed-com---pc-dialog .cc-cp-body-tabs-item {
	color: #000;
  background: #fff;
}

.termsfeed-com---palette-light .cc-cp-body-tabs-item {
  border-right-color: rgba(204,44,50,1.0);
  border-bottom-color: rgba(204,44,50,1.0);
}

.termsfeed-com---palette-light .cc-cp-body-tabs-item-link {
	color: #000;
}

.termsfeed-com---palette-light .cc-cp-body-tabs-item-link:focus {
  box-shadow: 0 0 0 2px rgba(204,44,50,0.2);
  background: rgba(204,44,50,0.5);
  color: #fff;
}

.termsfeed-com---palette-light .cc-cp-body-tabs-item-link:hover {
  box-shadow: 0 0 0 2px rgba(204,44,50,0.2);
  background: rgba(204,44,50,0.5);
  color: #fff;
}

.termsfeed-com---palette-light .cc-cp-body-content {
	background: #fff !important;
	color: #000;
}

.termsfeed-com---palette-light .cc-cp-body-tabs-item[active=true] {
  background: rgba(204,44,50,1.0) !important;
}

.termsfeed-com---palette-light .cc-cp-body-tabs-item[active=true] button {
  color: #fff;
}

.termsfeed-com---pc-dialog input[type=checkbox].cc-custom-checkbox:checked+label:before {
	background: #cc2c32;
}

.termsfeed-com---palette-light .cc-cp-foot-byline {
	visibility: hidden;
}

.termsfeed-com---palette-light .cc-cp-foot-save {
	background-color: #fff;
	color: #000;
	border: 1px solid rgba(204,44,50,1.0);
}

.termsfeed-com---palette-light .cc-cp-foot-save:hover, .termsfeed-com---palette-light .cc-cp-foot-save:focus {
	background-color: rgba(204,44,50,1.0);
	color: #fff;
	border: 1px solid rgba(204,44,50,1.0);
}

label#strictly-necessary_label:before {
	background: rgba(204,44,50,0.5);
}

.termsfeed-com---pc-dialog input[type=checkbox].cc-custom-checkbox+label:before {
	border: 1px solid #cc2c32;
}

.termsfeed-com---pc-dialog input[type=checkbox].cc-custom-checkbox+label:after {
	border: 1px solid #cc2c32;
}

.termsfeed-com---palette-light .cc-pc-head-lang select {
  color: #000;
}

.termsfeed-com---palette-light .cc-pc-head-lang select:focus {
  box-shadow: 0 0 0 1px rgba(204,44,50,1.0);
}

// END OF: Cookie consent new

// item-view: Authors' lines and identifiers 

.simple-item-view-author-line {
  padding-top: 2px;
  padding-bottom: 2px;
}

.author-identifier {
  padding-left: 5px;
}

.author-identifier-icon {
  width: 1.4em;
}
// END OF: item-view: Authors' lines and identifiers

// item-view: Creative Commons round icons

.cc-icon {
  padding-left: 5px;
}

.cc-icon-image {
  width: 1.4em;
}
// END OF: item-view: Creative Commons round icons

// item-view: Custom licence icons

.custom-licence-icon-image {
  width: 2.8em;
}
// END OF: item-view: Custom licence icons