/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */
/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */
 @font-face {
  font-family: palanquinlight;
  /* deklarace fontu */
  src: url(../fonts/palanquin-light.ttf); }

@font-face {
  font-family: palanquinthin;
  /* deklarace fontu */
  src: url(../fonts/palanquin-thin.ttf); }

@font-face {
  font-family: palanquinmedium;
  src: url(../fonts/palanquin-medium.ttf); }

@font-face {
  font-family: palanquinsemibold;
  src: url(../fonts/Palanquin-SemiBold.ttf); }

@font-face {
  font-family: palanquinbold;
  src: url(../fonts/Palanquin-Bold.ttf); }

@font-face {
  font-family: silkablack;
  src: url(../fonts/silka-black-webfont.ttf); }

@font-face {
  font-family: silkabold;
  src: url(../fonts/silka-bold-webfont.ttf); }

@font-face {
  font-family: silkaextralight;
  src: url(../fonts/silka-extralight-webfont.ttf); }

@font-face {
  font-family: silkalight;
  src: url(../fonts/silka-light-webfont.ttf); }

@font-face {
  font-family: silkamedium;
  src: url(../fonts/silka-medium-webfont.ttf); }

@font-face {
  font-family: silkaregular;
  src: url(../fonts/silka-regular-webfont.ttf); }

@font-face {
  font-family: silkasemibold;
  src: url(../fonts/silka-semibold-webfont.ttf); }

@font-face {
  font-family: silkathin;
  src: url(../fonts/silka-thin-webfont.ttf); }

.horizontal-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }

.horizontal-slider #main-content, .horizontal-slider #sidebar {
  display: flex;
  flex-direction: column; }

::-moz-selection {
  color: white;
  background: rgba(0, 54, 87, 0.5); }

::selection {
  color: white;
  background: rgba(0, 54, 87, 0.5); }

body {
  color: #000;
  font-family: silkalight;
  font-size: 12px;
  background: url("../images/UK_Pattern_6_blue-blue_bg.svg");
  background-size: 230px 230px;
  /* background-color: #003657;  */ }

.navbar > .container {
  background-color: #003657; }

#main-container #sidebar {
  /* background: url("../images/bgn.jpg") rgb(0, 54, 87); */
  background-color: #fff; }

footer .row {
  background-color: #fff;
  padding: 0 15px 15px 15px; }

footer .row > div {
  border-top: 1px solid #003657; }

.glyphicon-search {
  line-height: 1.5; }

h1, .h1 {
  font-size: 21px; }

h2, .h2 {
  font-size: 19px; }

h3, .h3 {
  font-size: 17px; }

h4, .h4 {
  font-size: 15px; }

h5, .h5 {
  font-size: 13px; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: 'silkasemibold'; }

h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  color: #000; }

h5.item-view-metadata-heading {
  margin-top: 0px; }

.short-description.text-muted {
  color:#003657;
}

/* NAVBAR */
/* Less then 768px width */
header .navbar-default .navbar-brand {
  background-color: #d22d40;
  height: 40px;
  line-height: 40px; }

header .navbar-default .navbar-brand:hover, header .navbar-default .navbar-brand:focus {
  background-color: #d22d40; }

header .navbar-default .navbar-text {
  color: #fff;
  font-family: silkalight;
  font-size: 17px;
  font-variant: small-caps;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  height: 40px;
  padding-left: 5px;
  /* word-wrap: break-word; */ }

header .navbar-brand img {
  height: 40px;
  width: 40px; }

.navbar.navbar-default.navbar-static-top {
  min-height: 40px; }

.navbar.navbar-default.navbar-static-top a.navbar-brand {
  padding: 0; }

#language-dropdown-toggle-xs {
  margin-right: 0; }

#ds-navigation-selection-xs {
  margin-right: 15px; }

#ds-navigation-selection-xs > button.navbar-toggle {
  padding-left: 5px;
  padding-right: 5px; }

.navbar-header.pull-right.visible-xs.hidden-sm.hidden-md.hidden-lg > ul li button {
  margin-right: 0;
  margin-bottom: 0;
  margin-top: auto;
  height: 40px;
  border-radius: 0;
  border: 0; }

header .navbar-default .navbar-toggle .icon-bar, header .navbar-default .navbar-nav .icon-bar {
  background-color: #fff; }

header .navbar-default .navbar-toggle:hover .icon-bar, header .navbar-default .navbar-toggle:focus .icon-bar, header .navbar-default .navbar-nav:hover .icon-bar,
header .navbar-default .navbar-nav:focus .icon-bar {
  background-color: #d22d40; }

.other-identifier-column {
  text-align: left; }

/* END OF: Less then 768px width */
/* 360px to 400px */
@media (min-width: 359px) and (max-width: 400px) {
  header .navbar-default .navbar-text {
    font-size: 14px; }
  .main-content-tabber, .main-content-tabber:hover {
    position: relative;
    top: 0;
    left: 25%;
    color: transparent;
    font-size: 12px; }
  .other-identifier-column {
    text-align: left; } }

/* More then 768px and less then 991px width */
@media (min-width: 768px) and (max-width: 992px) {
  header .navbar-default .navbar-brand {
    background-color: #d22d40;
    height: 40px;
    line-height: 40px; }
  header .navbar-default .navbar-brand:hover, header .navbar-default .navbar-brand:focus {
    background-color: #d22d40; }
  header .navbar-default .navbar-text {
    color: #fff;
    font-family: silkalight;
    font-size: 25px;
    font-variant: small-caps;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    padding-left: 5px;
    /* word-wrap: break-word; */ }
  header .navbar-brand img {
    height: 40px;
    width: 40px; }
  .navbar.navbar-default.navbar-static-top {
    min-height: 40px; }
  .navbar.navbar-default.navbar-static-top a.navbar-brand {
    padding: 0; }
  .navbar.navbar-default.navbar-static-top > .container li > a {
    padding-top: 10.0px;
    padding-bottom: 10.0px;
    line-height: 20px; }
  #ds-language-selection > ul > li > a {
    line-height: 10px;
    padding-top: 8px;
    padding-bottom: 10px; }
  #language-dropdown-toggle-xs {
    margin-right: 0; }
  #ds-navigation-selection-xs {
    margin-right: 0px; }
  #ds-navigation-selection-xs > button.navbar-toggle {
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12.0px;
    padding-bottom: 12.0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px; }
  .navbar-header.pull-right.visible-xs.hidden-sm.hidden-md.hidden-lg > ul li button {
    margin-right: 0;
    margin-bottom: 0;
    margin-top: auto;
    height: 40px;
    border-radius: 0;
    border: 0; }
  header .navbar-default .navbar-toggle .icon-bar, header .navbar-default .navbar-nav .icon-bar {
    background-color: #fff; }
  header .navbar-default .navbar-toggle:hover .icon-bar, header .navbar-default .navbar-toggle:focus .icon-bar, header .navbar-default .navbar-nav:hover .icon-bar,
  header .navbar-default .navbar-nav:focus .icon-bar {
    background-color: #d22d40; }
  .other-identifier-column {
    /* padding-top: 5px;
    padding-bottom: 5px;  */
    text-align: center; } }

/* END OF:  More then 768px and less then 991px width */
/* More then 991px width */
@media (min-width: 992px) {
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 23px 10px !important; }
  header .navbar-default .navbar-brand {
    background-color: #d22d40;
    height: 80px;
    line-height: 80px; }
  header .navbar-default .navbar-brand:hover, header .navbar-default .navbar-brand:focus {
    background-color: #d22d40; }
  header .navbar-default .navbar-text {
    color: #fff;
    font-family: silkalight;
    font-size: 30px;
    font-variant: small-caps;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    height: 80px; }
  header .navbar-brand img {
    height: 80px;
    width: 80px;
    /* padding: 0; */ }
  .navbar.navbar-default.navbar-static-top {
    min-height: 80px; }
  .navbar.navbar-default.navbar-static-top a.navbar-brand {
    padding: 0; }
  .navbar.navbar-default.navbar-static-top > .container li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px; }
  #ds-language-selection > ul > li > a {
    line-height: 12px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .other-identifier-column {
    /* padding-top: 5px;
    padding-bottom: 5px;  */
    text-align: center; }
  #user-profile-selection > ul > li > a {
    line-height: 12px;
    padding-top: 10px;
    padding-bottom: 10px; } }

/**
LANGUAGE BUTTON
*/
#language-dropdown-toggle > span > .caret {
  border-top: 6px solid;
  vertical-align: baseline; }

label {
  font-family: 'silkasemibold';
  font-weight: normal;
  font-size: 13px; }

.btn {
  border-radius: 0px;
  font-size: 12px; }

.btn-primary {
  color: #fff;
  background-color: #003657;
  border-color: #003657;
  height: 34px; }

.btn-default {
  color: #fff;
  background-color: #003657;
  border-color: #003657;
  height: 34px; }

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active,
.open > .btn-default.dropdown-toggle {
  color: #d22d40;
  background-color: #fff;
  border-color: #003657;
  font-family: 'silkasemibold'; }

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #d22d40;
  background-color: #fff;
  border-color: #003657; }

header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus, header .navbar-default .navbar-nav:hover, header .navbar-default .navbar-nav:focus {
  background-color: white;
  color: #d22d40; }

header .navbar-default .navbar-toggle > .open > a, header .navbar-default .navbar-toggle > .open > a:hover, header .navbar-default .navbar-toggle > .open > a:focus, header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus {
  background-color: white;
  color: #d22d40; }

header .navbar-default .navbar-toggle > li > a, header .navbar-default .navbar-nav > li > a {
  color: #fff; }

header .navbar-default .navbar-toggle, header .navbar-default .navbar-nav {
  color: #fff;
  background-color: #003657; }

header .navbar-default .navbar-toggle > li > a:hover, header .navbar-default .navbar-toggle > li > a:focus, header .navbar-default .navbar-nav > li > a:hover, header .navbar-default .navbar-nav > li > a:focus {
  background-color: white;
  color: #d22d40; }

.item-view-titles-row {
  background-color: #003657;
  margin-right: 0px;
  /* border-left: 3px solid #fff;  */ }

.item-title {
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 0; }

.item-view-doi-alert {
  background-color: #fff;
  border: 3px solid #003657;
  border-radius: 0;
  text-align: center; }

.item-view-doi-alert-text {
  color: #000;
  font-family: 'silkasemibold';
  font-size: 13px; }

.item-view-doi-alert-link {
  color: #d22d40;
  font-family: 'silkasemibold'; }

.item-view-doi-alert-link:hover, .item-view-doi-alert-link:focus {
  color: #003657; }

#aspect_artifactbrowser_ItemViewer_div_item-view {
  margin-top: -20px; }

#aspect_artifactbrowser_ItemViewer_div_item-view > .item-summary-view-metadata > .item-view-titles-row > .item-view-title-column > .item-title {
  padding-left: 0px;
  font-family: 'silkalight'; }

#aspect_artifactbrowser_ItemViewer_div_item-view .item-view-toggle-top {
  padding-top: 20px;
  padding-left: 8px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  background-color: #003657; }

#aspect_artifactbrowser_ItemViewer_div_item-view .item-title {
  background-color: #003657;
  margin-top: 0px;
  /* 20px */
  margin-bottom: 0px;
  /* 10px */
  padding-left: 8px;
  padding-top: 20px;
  padding-bottom: 10px; }

#aspect_artifactbrowser_ItemViewer_div_item-view .item-view-toggle-top > a {
  color: white;
  font-weight: bold; }

#aspect_artifactbrowser_ItemViewer_div_item-view .item-summary-view-metadata h2 {
  margin-bottom: 10px; }

.item-view-translated-title-column > .item-title-translated {
  font-size: 14px;
  color: white;
  border-bottom: 0px;
  font-family: 'silkalight'; }

.item-summary-view-metadata > .item-view-title-lead {
  margin-bottom: 0px; }

.row.item-view-additional-info-row {
  margin-right: 0px;
  border-bottom: 3px solid #003657;
  border-right: 3px solid #003657; }

.item-view-additional-info-column {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px; }

.item-view-additional-info-row > .item-view-additional-info-column > .label-group > .label-additional-info {
  color: #000;
  font-size: 100%;
  font-weight: normal;
  border-radius: 0px;
  font-family: 'silkasemibold';
  font-size: 11px;
  padding-left: 0px; }

.item-view-additional-info-row > .item-view-additional-info-column > .label-group > .label-additional-info > .caret {
  vertical-align: baseline;
  border-top: 6px solid;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; }

.item-view-additional-info-column .dropdown-menu {
  margin-top: 10px; }

#publication-versions-toggle {
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 0px;
  vertical-align: middle; }

.img-thumbnail {
  border-radius: 0px; }

.item-view-thumbnail-column {
  margin-top: 10px; }

.item-view-thumbnail-column > .thumbnail {
  margin-bottom: 25px; }

.thumbnail > .item-view-thumbnail {
  margin: 0 auto; }

.download-button-group {
  display: flex;
  flex-wrap: wrap; }

.button-file-icon {
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: middle;
  border: 0px;
  height: auto; }

.filesection-file-icon {
  width: 100%;
  max-height: 1.5em; }

.button-file-text {
  border: 3px solid #003657;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  font-family: 'silkasemibold';
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  word-wrap: break-word;
  font-size: 13px;
  color: #d22d40;
  height: auto; }

.button-file-icon:hover, .button-file-icon:focus, .button-file-icon.focus, .button-file-icon:active, .button-file-icon.active,
.open > .button-file-icon.dropdown-toggle {
  color: #fff;
  background-color: #003657;
  border: 0px; }

.button-file-text:hover, .button-file-text:focus, .button-file-text.focus, .button-file-text:active, .button-file-text.active,
.open > .button-file-text.dropdown-toggle {
  background-color: #fff; }

.other-identifier-image {
  max-width: 100%;
  height: 2em;
  padding-bottom: 5px;
  padding-top: 0px; }

.simple-item-view-first-in-second-column {
  margin-top: 14px; }

.discovery-item-title-translated {
  color: darkslategray; }

.publication-records-modal, .publication-records-modal ul {
  list-style-type: none;
  padding-left: 0px; }

.publication-records-import-btn {
  margin: 5px 0px 15px 0px; }

.bold {
  font-weight: bold; }

.imported {
  background-color: #E2E2E2; }

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep #aspect_submission_StepTransformer_field_search {
  width: 81%;
  display: inline; }

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep #aspect_submission_StepTransformer_field_lookup {
  width: 19%; }

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep .modal .modal-body {
  max-height: 500px;
  overflow-y: auto; }

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep #aspect_submission_StepTransformer_item_publication-title {
  margin-bottom: 5px; }

.main-content-tabber, .main-content-tabber:hover {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent; }

.main-content-tabber:focus, .main-content-tabber:active {
  display: inline;
  color: #003657; }

header .navbar-default {
  background-color: #fff;
  border-bottom: 3px solid #003657; }

.nav-tabs {
  border-bottom: 1px solid #003657; }

.nav-tabs > li > a {
  border-radius: 0px 0px 0px 0px;
  background-color: #003657;
  color: #fff;
  border-color: #003657; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #d22d40;
  background-color: #fff;
  border: 1px solid #003657;
  border-bottom-color: #003657; }

.nav-tabs > li > a:hover {
  border-color: rgba(0, 54, 87, 0.5) rgba(0, 54, 87, 0.5) #003657;
  color: #d22d40; }

.nav > li > a:focus {
  color: #d22d40; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #fff;
  color: #d22d40;
  border-color: rgba(0, 54, 87, 0.5) rgba(0, 54, 87, 0.5) #003657; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #d22d40;
  background-color: #fff; }

.dropdown-menu {
  border: 1px solid rgba(0, 54, 87, 0.15);
  border-radius: 0px;
  box-shadow: 0 6px 12px rgba(0, 54, 87, 0.18);
  -webkit-box-shadow: 0 6px 12px rgba(0, 54, 87, 0.18); }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #fff; }

.nav-tabs > li.dropdown.active > a {
  background-color: #003657;
  color: #fff; }

.nav-tabs > li.dropdown.active > a:hover {
  background-color: #fff;
  border-color: rgba(0, 54, 87, 0.5) rgba(0, 54, 87, 0.5) #003657;
  cursor: pointer;
  color: #d22d40; }

.nav-tabs > li.dropdown.active > a:focus {
  background-color: #fff;
  border-color: rgba(0, 54, 87, 0.5) rgba(0, 54, 87, 0.5) #003657;
  color: #d22d40; }

.trail-wrapper {
  background-color: #fff;
  border-bottom: 3px solid #003657; }

.breadcrumb {
  padding: 8px 0 8px 0px;
  font-family: 'silkasemibold'; }

a {
  color: #d22d40;
  font-family: 'silkasemibold'; }

#ds-language-selection {
  text-transform: capitalize;
  font-size: 12px; }

.dropdown-menu > li > a {
  color: #000;
  font-size: 11px; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: white;
  color: #d22d40; }

.pagination {
  border-radius: 0px; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px; }

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  color: #d22d40;
  background-color: #fff;
  border-color: #003657;
  font-family: 'silkasemibold'; }

.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: #d22d40;
  background-color: #fff;
  border-color: #003657;
  font-family: 'silkasemibold'; }

.pagination > li > a,
.pagination > li > span {
  color: #fff;
  background-color: #003657;
  border: 1px solid #003657;
  font-family: 'silkalight'; }

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background-color: #fff;
  border-color: #003657; }

.form-control {
  border: 1px solid #003657;
  border-radius: 0px;
  color: #000;
  font-size: 12px;
  font-family: 'silkalight'; }

.form-control:focus {
  border-color: #003657;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(0, 54, 87, 0.5);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(0, 54, 87, 0.5); }

.list-group-item {
  border: 1px solid #003657; }

a.list-group-item {
  color: #000; }

.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px; }

.list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #003657;
  border-color: #003657; }

a.list-group-item:hover, a.list-group-item:focus {
  color: #fff;
  background-color: rgba(0, 54, 87, 0.5); }

.label-primary {
  background-color: #fff;
  color: #000;
  border: 1px solid #000; }

.label-primary[href]:hover, .label-primary[href]:focus {
  background-color: rgba(0, 54, 87, 0.5);
  color: #fff; }

.table-hover > tbody > tr:hover {
  background-color: rgba(0, 54, 87, 0.5);
  color: #fff; }

blockquote {
  border-left: 5px solid #003657; }

.termsfeed-com---palette-light.termsfeed-com---nb {
  background-color: #fff;
  color: #000;
  border: 3px solid #003657; }

.termsfeed-com---reset {
  font-family: palanquinlight, Helvetica, Arial, sans-serif; }

.termsfeed-com---palette-light .cc-nb-okagree {
  background-color: #fff;
  color: #000;
  border: 1px solid #003657; }

.termsfeed-com---palette-light .cc-nb-okagree:hover, .termsfeed-com---palette-light .cc-nb-okagree:focus {
  background-color: #003657;
  color: #fff;
  border: 1px solid #003657; }

.termsfeed-com---palette-light .cc-nb-reject {
  background-color: #fff;
  color: #000;
  border: 1px solid #003657; }

.termsfeed-com---palette-light .cc-nb-reject:hover, .termsfeed-com---palette-light .cc-nb-reject:focus {
  background-color: #003657;
  color: #fff;
  border: 1px solid #003657; }

.termsfeed-com---palette-light .cc-nb-changep {
  background-color: #fff;
  border: 1px solid #003657;
  color: #000; }

.termsfeed-com---palette-light .cc-nb-changep:hover, .termsfeed-com---palette-light .cc-nb-changep:focus {
  background-color: #003657;
  color: #fff;
  border: 1px solid #003657; }

.termsfeed-com---palette-light .cc-pc-head {
  color: #000;
  background: #fff;
  border-bottom: 1px solid #003657; }

.termsfeed-com---palette-light .cc-pc-head-title-text {
  color: #000; }

.termsfeed-com---palette-light .cc-pc-head-title-headline {
  color: #000; }

.termsfeed-com---palette-light .cc-pc-head-close {
  color: #000; }

.termsfeed-com---palette-light .cc-cp-body {
  background: #fff !important;
  color: #000; }

.termsfeed-com---palette-light .cc-cp-foot {
  background: #fff !important;
  border-top-color: #003657; }

.termsfeed-com---palette-light .cc-cp-body-tabs {
  color: #000;
  background: #fff;
  border-right: 1px solid #003657; }

.termsfeed-com---pc-dialog .cc-cp-body-tabs {
  font-family: palanquinlight, Helvetica, Arial, sans-serif; }

.termsfeed-com---pc-dialog .cc-cp-body-tabs-item {
  color: #000;
  background: #fff; }

.termsfeed-com---palette-light .cc-cp-body-tabs-item {
  border-right-color: #003657;
  border-bottom-color: #003657; }

.termsfeed-com---palette-light .cc-cp-body-tabs-item-link {
  color: #000; }

.termsfeed-com---palette-light .cc-cp-body-tabs-item-link:focus {
  box-shadow: 0 0 0 2px rgba(0, 54, 87, 0.2);
  background: rgba(0, 54, 87, 0.5);
  color: #fff; }

.termsfeed-com---palette-light .cc-cp-body-tabs-item-link:hover {
  box-shadow: 0 0 0 2px rgba(0, 54, 87, 0.2);
  background: rgba(0, 54, 87, 0.5);
  color: #fff; }

.termsfeed-com---palette-light .cc-cp-body-content {
  background: #fff !important;
  color: #000; }

.termsfeed-com---palette-light .cc-cp-body-tabs-item[active=true] {
  background: #003657 !important; }

.termsfeed-com---palette-light .cc-cp-body-tabs-item[active=true] button {
  color: #fff; }

.termsfeed-com---pc-dialog input[type=checkbox].cc-custom-checkbox:checked + label:before {
  background: #003657; }

.termsfeed-com---palette-light .cc-cp-foot-byline {
  visibility: hidden; }

.termsfeed-com---palette-light .cc-cp-foot-save {
  background-color: #fff;
  color: #000;
  border: 1px solid #003657; }

.termsfeed-com---palette-light .cc-cp-foot-save:hover, .termsfeed-com---palette-light .cc-cp-foot-save:focus {
  background-color: #003657;
  color: #fff;
  border: 1px solid #003657; }

label#strictly-necessary_label:before {
  background: rgba(0, 54, 87, 0.5); }

.termsfeed-com---pc-dialog input[type=checkbox].cc-custom-checkbox + label:before {
  border: 1px solid #003657; }

.termsfeed-com---pc-dialog input[type=checkbox].cc-custom-checkbox + label:after {
  border: 1px solid #003657; }

.termsfeed-com---palette-light .cc-pc-head-lang select {
  color: #000; }

.termsfeed-com---palette-light .cc-pc-head-lang select:focus {
  box-shadow: 0 0 0 1px #003657; }

.simple-item-view-author-line {
  padding-top: 2px;
  padding-bottom: 2px; }

.author-identifier {
  padding-left: 5px; }

.author-identifier-icon {
  width: 1.4em; }

.cc-icon {
  padding-left: 5px; }

.cc-icon > img {
  vertical-align: bottom; }

.custom-licence-icon {
  padding-left: 5px; }

.cc-icon-image {
  width: 1.4em; }

.custom-licence-gratis-icon-image {
  width: 6em; }

.custom-licence-icon-image {
  width: 7.0em; }

.custom-licence-icon-image-en {
  width: 8.0em; }

/* Item's detailView */
.detailtable .label-cell {
  font-family: 'silkasemibold'; }

#sidebar_menu_about-repo > a.list-group-item.ds-option {
  font-family: 'silkalight'; }

#sidebar_menu_about-repo > a.list-group-item:hover, a.list-group-item:focus {
  font-family: 'silkasemibold';
  color: #d22d40;
  background-color: #fff; }

#aspect_viewArtifacts_Navigation_list_browse > a.list-group-item.ds-option {
  font-family: 'silkalight'; }

#aspect_viewArtifacts_Navigation_list_browse > a.list-group-item.ds-option:hover, a.list-group-item.ds-option:focus {
  font-family: 'silkasemibold';
  background-color: #fff;
  color: #d22d40; }

#aspect_discovery_Navigation_list_discovery > a.list-group-item.ds-option {
  font-family: 'silkalight'; }

#aspect_discovery_Navigation_list_discovery > a.list-group-item.ds-option:hover, a.list-group-item.ds-option:focus {
  font-family: 'silkasemibold';
  background-color: #fff;
  color: #d22d40; }

#aspect_viewArtifacts_Navigation_list_context > a.list-group-item.ds-option {
  font-family: 'silkalight'; }

#aspect_viewArtifacts_Navigation_list_context > a.list-group-item.ds-option:hover, a.list-group-item.ds-option:focus {
  font-family: 'silkasemibold';
  background-color: #fff;
  color: #d22d40; }

#aspect_viewArtifacts_Navigation_list_administrative > a.list-group-item.ds-option {
  font-family: 'silkalight'; }

#aspect_viewArtifacts_Navigation_list_administrative > a.list-group-item.ds-option:hover, a.list-group-item.ds-option:focus {
  font-family: 'silkasemibold';
  background-color: #fff;
  color: #d22d40; }

#mandatory-metadata-dropdown > .caret {
  vertical-align: baseline;
  border-top: 7px solid;
  margin-left: 5px; }

.trail-wrapper .breadcrumb > .active {
  color: #000; }

#ds-options .ds-option-set-head {
  color: #003657;
  font-family: 'silkasemibold'; }

#ds-search-option {
  padding-bottom: 43px;
  margin-bottom: 10px; }

#ds-search-form .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: relative;
  margin-left: -20px;
  margin-top: 4px \9;
  margin-right: 5px;
  vertical-align: baseline; }

#ds-search-form label {
  font-size: 11px; }

/* CUSTOM CUNI STATIC INFO PAGES */
.hero-unit.cuni-static-info-page {
  text-align: justify;
  word-wrap: break-word;
  text-wrap: pretty; }

table.cuni-static-page-table > caption {
  font-family: 'silkasemibold'; }

table.cuni-static-page-table > thead {
  font-family: 'silkasemibold'; }

div#about-toc {
  text-wrap: wrap; }

/* DISCOVERY & item-lists */
#filters-overview-wrapper .label {
  font-size: 0.9em;
  font-family: 'silkalight';
  font-weight: normal;
  color: #000;
  background-color: #fff;
  border-radius: 0px; }

#filters-overview-wrapper .label:hover, #filters-overview-wrapper .label:focus {
  color: #d22d40;
  font-family: 'silkasemibold';
  font-size: 0.9em; }

#aspect_discovery_SimpleSearch_div_search-results .ds-artifact-item, .ds-artifact-item-in-list {
  margin-left: -10px;
  margin-right: -5px;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 25px; }

h2.community-list-title, h2.community-list-title > a {
  font-family: 'silkalight';
  font-size: 19px;
}

h3.collection-list-title, h3.collection-list-title > a  {
  font-family: 'silkalight';
  font-size: 17px;
}

.row.ds-artifact-item:hover, .row.ds-artifact-item:focus, .row.ds-artifact-item:active {
  box-shadow: -5px 0px 0px #003657, inset 10px 0px 0px #003657; }

.row.ds-artifact-item-in-list:hover, .row.ds-artifact-item-in-list:focus, .row.ds-artifact-item-in-list:active {
  box-shadow: -5px 0px 0px #003657, inset 10px 0px 0px #003657; }

.row.ds-artifact-item .img-thumbnail {
  max-width: 75%; }

.row.ds-artifact-item-in-list .img-thumbnail {
  max-width: 75%; }

h4.discovery-item-title {
  font-family: 'silkalight';
  font-size: 17px;
  text-align: justify; 
  margin-top: 1px;
}

h5.discovery-item-title-translated {
  font-family: 'silkalight';
  font-size: 13px; }

.row.discovery-additional-info-row {
  margin-right: 0px;
  /* border-bottom: 3px solid #003657;
  border-right: 3px solid #003657; */ }

.discovery-additional-info-column {
  padding-left: 15px;
  /* padding-top: 5px; */
  padding-bottom: 0px; }

.discovery-additional-info-row > .discovery-additional-info-column > .label-group > .label-additional-info {
  color: #000;
  font-size: 100%;
  font-weight: normal;
  border-radius: 0px;
  font-family: 'silkasemibold';
  font-size: 14px;
  padding-left: 0px;
  font-variant: petite-caps;
  margin: 0;
  /**vertical-align: middle;*/ }

.discovery-additional-info-row > .discovery-additional-info-column > .label-group > .label-additional-info > .caret {
  vertical-align: baseline;
  border-top: 6px solid;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; }

.discovery-additional-item-info-licence, .label-discovery-publication-type,
.label-discovery-publication-version, .label-discovery-publication-licence,
.label-discovery-publication-accessRights {
  padding-right: 0; }

.discovery-additional-info-access, .discovery-additional-info-licence, .label-discovery-publication-accessRights {
  float: right; }

span.label.label-additional-info.label-discovery-publication-licence {
  color: #000;
  font-size: 100%;
  font-weight: normal;
  border-radius: 0px;
  font-family: 'silkasemibold';
  font-size: 14px;
  padding-left: 0px;
  font-variant: petite-caps; }

.discovery-additional-info-column-right {
  padding-right: 0px; }

.discovery-authors-row {
  margin-top: 10px; }

.discovery-authors-row-column {
  text-align: justify;
  text-wrap: wrap; }

h4.discovery-author {
  display: inline;
  font-size: 14px;
  font-family: 'silkasemibold';
  font-weight: normal;
  font-variant: petite-caps;
  color: #000; }

.discovery-show-authors-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: 'silkasemibold';
  color: #d22d40;
  cursor: pointer; }

.discovery-show-authors-button:hover {
  color: #415262;
  text-decoration: underline;
  outline: 0; }

.discovery-show-authors-button:focus, .discovery-show-authors-button:active,
.discovery-show-authors-button:focus-within, .discovery-show-authors-button:focus-visible,
.discovery-show-authors-button:visited {
  color: #d22d40;
  text-decoration: none;
  outline: 0; }

h4.discovery-publication-info-heading {
  display: inline;
  font-size: 14px;
  font-family: 'silkasemibold';
  font-weight: normal;
  font-variant: petite-caps;
  color: #000; }

.discovery-publication-info-row {
  margin-top: 10px; }

h4.discovery-abstract {
  font-family: 'silkalight';
  font-size: 12px;
  text-align: justify;
  word-wrap: break-word;
  text-wrap: wrap;
  margin: 0; 
  color: #000;
}

.discovery-abstract-row {
  margin-top: 10px; }

/* @media (max-width: 300px) 
{
  .discovery-additional-info-access, .discovery-additional-info-licence
  {
    float: left; 
  } 
} */
/* END OF: DISCOVERY */

/* HOMEPAGE TEST */

/* Feature-CSS */

.icon {
  color : #fff;
  padding:15px;
  background:#323232 ;
  font-size:50px;
  border-radius:90px;
  border:10px solid #323232 ;
}
.feature-box {
  text-align: center;
  padding: 20px;
  transition: .5s;
  margin-bottom: 30px;
  border: 1px solid #003657;
}
.feature-box:hover {
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feature-box h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 25px 0 15px;
  text-align: center;
}

.feature-box p {
  text-align: justify;
}

.feature-box img {
  width: 100%;
}

.homepage-selection {
  padding-left:0;
  padding-right: 0;
}

div#jumbotron-search-form > #ds-search-option {
  margin-top: 10px;
}

.jumbotron.jumbotron-muted.homepage-jumbotron {
  border-radius: 0px;
  margin-bottom: 20px;
  background-color: #003657;
  color: #fff;
}

a.homepage-jumbotron-link:hover, a.homepage-jumbotron-link:focus, 
a.homepage-jumbotron-link:active {
  color: #fff;
}

button#homepage-jumbotron-search-button {
  background-color: #fff;
  color: #003657;
}

button#homepage-jumbotron-search-button:hover, button#homepage-jumbotron-search-button:focus, 
button#homepage-jumbotron-search-button:active {
  color: #d22d40;
}

a.btn.btn-primary.site-btn.homepage-options-button {
  height: auto;
  width: auto;
  min-width: 70%;
}

/* END OF: HOMEPAGE TEST */

